* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
}

html {
    font-family: Helvetica,Helvetica,Arial,sans-serif;
}

ul {
    list-style: none;
}

img{
    width: 100%;
    height: auto;
}

hr{
    height: 1.5px;
    background-color: lightgrey;
}